page-item-detail {
  .body{
    background: grey;
  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  
  .date{
    font-size: 1.3em;
    color: lightgrey;
  }

  .title{
    font-size: 3em;
  }
}
