<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title>{{(profileData | async)?.username}}</ion-title> -->
    <ion-title>Foreign Five</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <div class="splash-bg">
    <div id="lieu">
      <h1 class="lieu"><i class="fas fa-university"></i> ESILV</h1>
      <h1 class="lieu location"><i class="fas fa-location-arrow"></i> Paris, France</h1>
    </div>
  </div>

  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="Housing">
      Housing
    </ion-segment-button>
    <ion-segment-button value="Social">
      Social
    </ion-segment-button>
    <ion-segment-button value="Economics">
      Economics
    </ion-segment-button>
    <ion-segment-button value="Other">
      Other
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="category">

    <!-- CATEGORY ALL -->

    <div *ngSwitchCase="'all'" ngSelected="selected">
      <ion-card *ngFor="let item of (tipsItems | async)?.slice().reverse(); let i = index">
          <!-- .reverse() -->

        <ion-item>
          <h3 item-right (click)="openUser(item)">{{ item.author.username }}</h3>
          <ion-avatar item-right (click)="openUser(item)">
              <div *ngIf="item.author.url == 0;else avatar">
                  <img src="../../assets/imgs/logo.png">
              </div>
              <ng-template #avatar>
                  <img  src="{{ item.author.url }}" />
              </ng-template>
          </ion-avatar>
          <h1 (click)="openItem(item)" >{{ item.title }}</h1>
          <div id="datexlieu" (click)="openItem(item)">
            <div class="inline">
              <h4 class="datelieu date">{{ item.add_date | date:'MMM d, y, h:mm' }}</h4>
            </div>
            <div class="inline">
              <i class="fas fa-map-marker"></i>
            </div>
            <div class="inline">
              <h4 class="datelieu">Paris, France</h4>
            </div>
          </div>
        </ion-item>

        <ion-card-content (click)="openItem(item)">
          {{ item.text }}
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{ item.likes }} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{ item.comments }} Comments</div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>
    </div>

    <!-- ALL OTHER CATEOGRY -->

    <div>
      <ion-card *ngFor="let item of (tipsItems | async)?.slice().reverse()" >
        <div *ngIf="item.category == this.category">
          <ion-item>
            <h3 item-right (click)="openUser(item)">{{ item.author.username }}</h3>
            <ion-avatar item-right (click)="openUser(item)">
              <div *ngIf="item.author.url == 0;else avatar">
                  <img src="../../assets/imgs/logo.png">
              </div>
              <ng-template #avatar>
                  <img  src="{{ item.author.url }}" />
              </ng-template>
            </ion-avatar>
            <h1 (click)="openItem(item)">{{ item.title }}</h1>
            <div id="datexlieu" (click)="openItem(item)">
              <div class="inline">
                <h4 class="datelieu date">{{ item.add_date | date:'MMM d, y, h:mm' }}</h4>
              </div>
              <div class="inline">
                <i class="fas fa-map-marker"></i>
              </div>
              <div class="inline">
                <h4 class="datelieu">Paris, France</h4>
              </div>
            </div>
          </ion-item>

          <ion-card-content (click)="openItem(item)">
            {{ item.text }}
          </ion-card-content>

          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{ item.likes }} Likes</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="text"></ion-icon>
                <div>{{ item.comments }} Comments</div>
              </button>
            </ion-col>
          </ion-row>

        </div>
      </ion-card>
    </div>


  </div>

  <ion-fab bottom right>
    <button ion-button (click)="addItemBtn()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
